body {
  font-family: Arial, Helvetica, sans-serif;
  background: #b9b3a9;
  display: flex;
  justify-content: center;
}

.container {
  width: 450px;
  padding: 20px;
  margin-top: 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.btn {
  border: none;
  background-color: white;
  cursor: pointer;
  margin: 5px;
}

h2 {
  text-align: center;
}

.next-btn,
.previous-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #428bca;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
  margin-top: 20px;
}

.current-score {
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
